<html>
<head>
<title>permintaan</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style_create_permintaan.css') }}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="menu-bar">
        <ul>
            <li><a href="{{ url_for('dashboard') }}"><i class="fa fa-home"></i>home</a> <!-- Tautan ke dashboard -->
                <div class="sub-menu-1">
                    <ul>
                        <li><a href="#">Informasi Pengguna</a></li>
                        <li><a href="#">Unit PLTU</a></li>
                    </ul>
                </div>
            </li> 
            <li><a href="#">Permintaan</a>
                <div class="sub-menu-1">
                    <ul>
                        <li><a href="{{ url_for('buat_permintaan') }}">Buat Permintaan</a></li> <!-- Menambahkan tautan ke halaman "lihat permintaan" -->
                        <li><a href="#">Lihat Permintaan</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="#">Penawaran</a>
                <div class="sub-menu-1">
                    <ul>
                        <li><a href="{{ url_for('buat_penawaran') }}">Buat Penawaran</a></li> <!-- Menambahkan tautan ke halaman "lihat permintaan" -->
                        <li><a href="#">Lihat Penawaran</a></li>
                    </ul>
                </div>
            </li> 
            <li><a href="#">Buat Transaksi</a>
                <div class="sub-menu-1">
                    <ul>
                        <li><a href="{{ url_for('buattransaksijual') }}">Transaksi Jual</a></li> <!-- Menambahkan tautan ke halaman "lihat permintaan" -->
                        <li><a href="{{ url_for('buattransaksibeli') }}">Transaksi Beli</a></li> <!-- Menambahkan tautan ke halaman "lihat permintaan" -->
                    </ul>
                </div>
            </li> 
            <li><a href="#">Saldo</a>
                <div class="sub-menu-1">
                    <ul>
                        <li><a href="#">Cek Saldo</a></li>
                    </ul>
                </div>
            </li> 
            <li><a href="{{ url_for('view_blockchain') }}">Blockchain</a></li> <!-- Menambahkan tautan ke halaman "lihat permintaan" -->
            <li><a href="#"><i class="fa fa-bell"></i>Notifikasi</a></li>
        </ul>
    </div>
    <div class="container">
        <form id="Form1" >
            <h3>Informasi Perusahaan Pembuat Permintaan</h3>
            <input type="text" name="id_pelaku_permintaan" pattern="[0-9]{3}" title="ID Perusahaan (3 digits)" >
            <input type="text" name="nama_pltu_peminta" placeholder="nama pltu" >
            <input type="text" name="unit_peminta" placeholder="unit" >
            <div class="btn-box">
                <button type="button" id="Next1">Next</button>
            </div>
        </form>
        
        <form id="Form2" >
            <h3>Informasi Waktu Permintaan</h3>
            <input type="date" name="tanggal_permintaan" placeholder="Tanggal Permintaan" >
            <input type="date" name="tanggal_awal_permintaan" placeholder="Tanggal Awal Permintaan" >
            <input type="date" name="tanggal_akhir_permintaan" placeholder="Tanggal Akhir Permintaan" >
            <div class="btn-box">
                <button type="button" id="previous1">Previous</button>
                <button type="button" id="Next2">Next</button>
            </div>
        </form>
        
        <form id="Form3" >
            <h3>Informasi Permintaan</h3>
            <input type="text" name="ptbae_diminta" placeholder="Permintaan PTBAE" >
            <input type="text" name="satuan" placeholder="Satuan PTBAE (CO2 e)" >
            <input type="text" name="harga" placeholder="Harga" >
            <input type="text" name="mata_uang" placeholder="Mata Uang" >
            <div class="btn-box">
                <button type="button" id="previous2">Previous</button>
                <button type="button" id="Next3">Next</button>
            </div>
        </form>
        
        <form id="Form4" >
            <h3>Informasi Sisa Permintaan</h3>
            <input type="text" name="sisa_permintaan" placeholder="sisa_permintaan" >
            <input type="text" name="satuan_sisa_permintaan" placeholder="Satuan PTBAE (CO2 e)">
            <div class="btn-box">
                <button type="button" id="previous3">Previous</button>
                <button type="button" id="kirimdata">Submit</button>
            </div>
        </form>
        
        </form>
                         <div class = "step-row">
            <div id="progress"></div>
            <div class="step-col"><small>Step 1</small></div>
            <div class="step-col"><small>Step 2</small></div>
            <div class="step-col"><small>Step 3</small></div>
            <div class="step-col"><small>Step 4</small></div>


         </div>

    </div>
    </body>
    <script>
        var Form1 = document.getElementById("Form1");
        var Form2 = document.getElementById("Form2");
        var Form3 = document.getElementById("Form3");
        var Form4 = document.getElementById("Form4");
        var progress = document.getElementById("progress");
        
        const formdata = new FormData()

        function sendData(formData) {
            fetch("{{ url_for('save_permintaan_route') }}", {
                method: 'POST',
                body: formdata  
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                // Handle response data, redirect or show success message
                redirectToSuccesPage();
            })
            .catch(error => {

                console.error(error);
            });
        }
    
        function redirectToSuccesPage() {
            window.location.href = "{{ url_for('permintaan_berhasil') }}";
        }
    
        function validateForm(form) {
            var inputs = form.querySelectorAll('input');
            for (var i = 0; i < inputs.length; i++) {
                if (inputs[i].value.trim() === '') {
                    console.log('Nilai input kosong pada index:', i); // Menampilkan indeks input yang kosong                
                    alert('Silakan isi semua bidang yang diperlukan!');
                    return false;
                }
            }
            return true;
        }
    
        function moveToNextForm(currentForm, nextForm, width) {
            if (validateForm(currentForm)) {
                currentForm.style.left = "-450px";
                nextForm.style.left = "40px";
                progress.style.width = width;
            }
        }
    
        function moveToPreviousForm(currentForm, previousForm, width) {
            currentForm.style.left = "450px";
            previousForm.style.left = "40px";
            progress.style.width = width;
        }
    
        document.getElementById("Next1").addEventListener("click", function() {
            moveToNextForm(Form1, Form2, "180px");
        });
    
        document.getElementById("Next2").addEventListener("click", function() {
            moveToNextForm(Form2, Form3, "270px");
        });
    
        document.getElementById("Next3").addEventListener("click", function() {
            moveToNextForm(Form3, Form4, "360px");
        });
    
        document.getElementById("previous1").addEventListener("click", function() {
            moveToPreviousForm(Form2, Form1, "90px");
        });
    
        document.getElementById("previous2").addEventListener("click", function() {
            moveToPreviousForm(Form3, Form2, "180px");
        });
    
        document.getElementById("previous3").addEventListener("click", function() {
            moveToPreviousForm(Form4, Form3, "270px");
        });
        function mergeForm(form) {
            var inputs = form.querySelectorAll('input');
            for (var i = 0; i < inputs.length; i++) {
                console.log(inputs[i].value)
                formdata.append(inputs[i].name, inputs[i].value)
            }
        }
 
        document.getElementById("kirimdata").addEventListener("click", function() {
            if (validateForm(Form1) && validateForm(Form2) && validateForm(Form3) && validateForm(Form4))
                {
                    mergeForm(Form1)
                    mergeForm(Form2)
                    mergeForm(Form3)
                    mergeForm(Form4)
                    console.log(formdata)
                    sendData(formdata)
                }
            
        });
    </script>
        
</html>
